
.minii-hobby{
   text-align: center;
   background-color: rgb(70, 70, 105);
   padding: 5px;
}

.contaner{
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 3px 3px 3px 30px;
  border-radius: 20px;
}

body{
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(94, 90, 90);
}
 .naiz-boloy{
  color: aqua;
  background-color: black;
  border-radius: 20px;
 }

 .minii3hobby{
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 3px 3px 3px 30px;
  border-radius: 20px;
 }

 .jijigtemdeglel{
  background-color: rgb(85, 160, 221);
  margin: 20px;
  padding: 3px 3px 3px 30px;
  border-radius: 20px;
 }
 .bugs{
  color: aquamarine;
  text-align: center;

 }

  .navbar{
   list-style: none;
   display: flex;
   justify-content:center ;
   gap:25px;
 }